body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #a4dbff;
}

button {
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
}

#container {
    width: 560px;
    height: 560px;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
}

.square {
    box-sizing: border-box;
    border: 1px solid #513737;
}